# Set on prod to IP for reverse proxy to target, example: '10.0.0.100'
HOST=localhost
HOST_FULL="website.${HOST_FULL}"

# External sites
WIKI_URL=http://wiki.localhost
RATGAME_URL=http://ratgame.localhost
