<div class="footerContainer">
    <a href="https://github.com/BetaMC-Developers/BetaMC-Site">Website by jcheese7 and contributors</a><br>
    <a href="https://fontlibrary.org/en/font/minecraftia">Minecraftia font by Andrew Tyler</a>
</div>
<div class="footerSocials">
    <a href="https://discord.gg/Kkd4Fqs97t"><img src="Assets/discord-logo-32.png" alt="Discord link"></a>
    <a href="https://www.youtube.com/@BetaMCServer"><img src="Assets/youtube-logo-32.png" alt="YouTube link"></a>
    <a href="https://www.tiktok.com/@bmcserver"><img src="Assets/tiktok-logo-32.png" alt="TikTok link"></a>
</div>
